#movie-backdrop {
  width: 100%;
}

.container {
  padding-top: 32px;
}

#actors {
  margin: 24px 16px 0 0;
}

#container img:hover {
  cursor: pointer;
}

.movieDescription {
  display: none;
}

img:hover + .movieDescription {
  display: block;
  position: relative;
  top: -200px;
  padding: 10px;
  margin-bottom: -200px;
}

img:hover {
  opacity: 20%;
}
