
  .green-part{
    background-color: rgb(80, 200, 120);
    text-align: center;
    height: 300px;

}
.green-image{
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    margin-left: 200px;
    margin-right: 200px;
    }
    .image{
        margin-top: 50px;
        width: 300px;
        color: white;

    }


    .grey-part{
      background-color: rgb(216, 228, 230);
      height: 600px; 
       
  }
  .up-down{
      display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
      align-content: stretch;
      margin: 0px 150px 100px 150px;
  }
  .text-image{
      display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
      align-content: stretch;
      
  }
  .grey-fon{
      font-size: 46px;
  }
  .texts{
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
      align-content: stretch;
      
  }
  .text-width{
      width: 250px;
      
  }
  .img-mar{
      
      width: 400px;
  
  }
  
  .meet{
    background-color: rgb(238, 245, 245);
    height: 300px;  
    text-align: center; 
   
}
.meet-mar{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    margin-left: 150px;
    margin-right: 150px;
   
    
}
.meet-fon{
    font-size: 46px;
}


.photos{
  background-color: rgb(49, 49, 49);
  height: 300px;  

 
}
.pic{
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
  align-content: stretch;
 
}
.pic-width{
  width: 150px;
  margin-top: 75px;
}


#menu li{
  list-style-type: none;
  display:inline;
  justify-content:space-around;
  flex-direction:row;
  color: white;
  margin: 0px 15px;
}

nav{
  display:flex;
  background: rgb(49, 49, 49);
  justify-content: space-around;
}

.slide {
  display:flex;
  background-image:  url("cover.jpg");
  flex-direction:column;
}

.slide p,
.slide h1{
  display:flex;
  justify-content: center;
  color: white;
}
body{
  margin:0px;
  padding:0px
}


.opener{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-size: 65px;
}

.dot{
  color: rgb(80, 200, 120);
}

header {
  display:flex;
  flex-direction:column;
}

.rounded-pictures{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-top: 15px;
  margin-bottom:0px;
}

.rounded-pictures p{
  margin-top:40px;
}

.under-opener{
  font-size:17px;
  margin: 0px 220px;
  text-align:center;
}

.slide-content{
  display:flex;
  flex-direction:column;
  line-height:1em;
}

#start-button{
  display:flex;
  width:200px;
  height:45px;
  justify-content: center;
  background-color:rgb(80, 200, 120);
  border:0px;
  color:white;
}

.button{
  display:flex;
  justify-content:center;
  margin-bottom:100px;
}

#main-area{
  display:flex;
  justify-content:center;
  flex-direction:column;
  padding-top:30px;
  padding-bottom:30px;
}

.main-upper{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.main-left{
  width:500px;
  display:flex;
  flex-direction:column;
}

.main-right{
  display:flex;
  flex-direction:column;
  width:340px;
}

.green-box{
  background-color:rgb(80, 200, 120);
  justify-content:space-around;
  padding:30px;
}

.main-right img{
  display:inline;
  height:100px;
  margin:0px;
  float:right;
}

.green-box p{
  display:inline;
  margin-left:0px;
  text-align:justify;
  color:white;
  font-size:14px;
}

.main-right-text{
  font-size:20px;
}

.main-bottom{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.tation img,
.main-bottom-text{
  display:inline;
}

address{
  background: rgb(80, 200, 120);
  padding:20px 200px;
}

.address-top{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.address-top img{
  width:30px;
  height:35px;
}

.address-top-left{
  width:360px;
  color:white;
  font: Times new roman;
  font-style:normal;
  font-weight:normal;
}

.address-top-title{
  font-size:35px;
  margin-bottom:10px;
} 

.address-top-text{
  font-size: 16px;
  margin-top:10px;
}

.social-media{
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

.icons{
  display:flex;
  justify-content:space-between;
  width:225px;
}

.address-bottom{
  display:flex;
  flex-direction:row;
  justify-content:space-between;

}

.address-bottom .map{
  display:flex;
  align-self:center;
  justify-self:flex-end;
}

.address-bottom .map img{
  width:350px;
  height:200px;
}

form{
  color:white;
  font-weight:normal;
  font-style:normal;
}

form #name,
form #email,
form #subject{
  width:500px;
  height: 20px;
}

form #message{
  width:500px;
  height:150px;
}

form input{
  border-radius:2%;
}

form input[type="submit"]{
  margin-top: 9px;
  width: 80px;
  height:35px;
  background: white;
  border-radius:3%;
}

.map{
  display:flex;
  flex-direction:column;
  color:white;
}

.written-address p{
  margin-top:5px;
  font-weight:normal;
  font-style:normal;
}

footer{
  background-color:rgb(49, 49, 49);
  padding: 75px 200px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.green-text{
  color:rgb(80, 200, 120);
  font-weight:normal;
}

footer div p{
  color:grey;
  font-weight:normal;
}

.footer-right{
  display:flex;
  justify-content:flex-end;
  width:145px;
}
