body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  display: flex;
}

aside {
  order: 1;
  flex-grow: 1;
  background-color: #3d4f5d;
  width: 20%;
  height: 100vh;
  overflow-x: hidden;
  text-align: right;
  padding-top: 10%;
  color: white;
  position: fixed;
  left: 0;
  z-index: 100;

}

aside .blog-side {
  padding: 10%;
}

main {
  order: 2;
  flex-grow: 4;
  background-color: white;
  position: relative;
  padding: 30px;
  margin-left: 20%;
  margin-bottom: 0;
  padding-bottom: 0;
}


.btn {
  background-color: #3d4f5d;
  border: 2px solid #8da5b5;
  color: white;
  }

.profile pic {
  position: right;
  display: inline-block;
}

.article {
  position: relative;
}
.author-icon {
  position: absolute;
  right: 0;  
  top: 0;
  width: 40px;
}
.post-body {
  display: flex;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 400px;
  
}

.photos {
  padding: 5px;
  width: 100%;
  
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  color:#3d4f5d;
  margin-top: 5%;
}

footer li {
  display: inline-block;
  list-style: none;
  padding: 2%;
}

.post-body {
  font-family: serif;
}

h3 {
  color: gray;
  font-size: small;
  font-weight:normal;
}
.css-tag {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
}

.java-tag {
  background-color: #3498DB;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: small;
}

.not-visited {
  background-color:gray;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: small;
}

footer li {
  display: inline-block;
  font-size: small;
  padding: 20px;
  text-align: center;
}

.nav-li {
  background-color: Transparent;;
  border: none;
  color: gray;
  text-align: center;
  display: inline-block;
  font-size: small;
}