html body{
  height:100%;
  margin:0;
}

.right {
  float: right;
  width: 75%;
  background-color: white;
  display:block;
}

.post-writer{
  color: grey;
  display: inline-block
}
.my-blog{
  color: white;
  font-size: 40px;
  margin-top: 225px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  display:flex;
  justify-content:flex-end;
}
  

.parag{
  font-size: 19px;
  color: #849CA9;
  margin:0px;
  width:auto;
  float:right;
  }

aside {
  float: left;
  width: 25%;
  height:150vh;
  background-color:#445763;
}

.CSS {
  background-color: green;
  display:inline-block;
}

.javascript {
  background-color: red;
  display:inline-block;
}

.Not{
  background-color: grey;
  display:inline-block;
}
.home-border{
  display:flex;
  flex-direction:row;
  border:2px;
  border-style: solid;
  border-color: #849CA9;
  color:white;
  padding: 10px;
  text-align:center;
  margin:5px;
  margin-right:0px;
  height:15px;
}

.face{
  display: inline-block;
  float:right;
}

.image{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 0;
  margin-right: 15px;
  
    
}

hr {
  color: grey;
}

.grey-text {
  color: grey;
  font-size: 15px;
}

main section {
  margin-left: 50px;
}

.aside-text{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  padding:15px;
}

.buttons{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}